{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name }}<br><br>
    {{ form.email.label }} {{ form.email }}<br><br>
    {{ form.phone.label }} {{ form.phone }}<br><br> <!-- ✅ phone field -->
    {{ form.password.label }} {{ form.password }}<br><br>
    {{ form.confirm_password.label }} {{ form.confirm_password }}<br><br>
    {{ form.role.label }} {{ form.role }}<br><br>
    {{ form.submit }}
</form>
{% endblock %}
